*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}


.i{
    width: 70%;
    height: 50%;
} 
 
.ii{
    width: 100%;
    height: 40%;
}
.my-col {
    width: 15%;
  }
 
 










